.shipping-edit-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shipping-edit-form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}