/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor

.env
.env.testing

.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

.idea/
.cache/
/.local/
/.config/
.bash_history

/storage/framework/cache/**
/storage/framework/sessions/**
/storage/framework/views/**
/storage/logs/**

# storage/app/publicの.gitignoreに下記記載あり。
# 商品、プロフィール画像（初期値）の管理のため、imagesフォルダとその中身は除外しない。 
#*
#!.gitignore
#!images/
#!images/**

